<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suhuiso.ssm.mapping.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.suhuiso.ssm.pojo.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="c_num" property="cNum" jdbcType="INTEGER" />
    <result column="update_at" property="updateAt" jdbcType="BIGINT" />
    <result column="create_at" property="createAt" jdbcType="BIGINT" />
    <result column="declaration" property="declaration" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, c_num, update_at, create_at, declaration
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suhuiso.ssm.pojo.Student" >
    insert into student (id, name, type, 
      c_num, update_at, create_at, 
      declaration)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{cNum,jdbcType=INTEGER}, #{updateAt,jdbcType=BIGINT}, #{createAt,jdbcType=BIGINT}, 
      #{declaration,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suhuiso.ssm.pojo.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="cNum != null" >
        c_num,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="declaration != null" >
        declaration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="cNum != null" >
        #{cNum,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=BIGINT},
      </if>
      <if test="declaration != null" >
        #{declaration,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suhuiso.ssm.pojo.Student" >
    update student
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="cNum != null" >
        c_num = #{cNum,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=BIGINT},
      </if>
      <if test="declaration != null" >
        declaration = #{declaration,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suhuiso.ssm.pojo.Student" >
    update student
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      c_num = #{cNum,jdbcType=INTEGER},
      update_at = #{updateAt,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=BIGINT},
      declaration = #{declaration,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>